.prod-spec-first-div {
  /*.prod-spe-finalPrice {
    position: absolute;
    margin-left: 200px;
    margin-top: 32px;
  }

  .prod-spe-price {
    position: absolute;
    margin-left: 206px;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: line-through;
  }

  .prod-spe-name{
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;
  }*/
}
.prod-spec-first-div .prod-spec-container-div {
  position: absolute;
  margin-left: 200px;
  margin-top: 12px;
}
.prod-spec-first-div .prod-spec-container-div span,
.prod-spec-first-div .prod-spec-container-div h3,
.prod-spec-first-div .prod-spec-container-div h5,
.prod-spec-first-div .prod-spec-container-div a {
  text-align: right;
}
