/* Special products homepage */
.prod-spec-first-div {
  position: relative;
}
.prod-spec-first-div .prod-spe-price {
  text-decoration: line-through;
}
.prod-spec-first-div .prod-spec-container-div {
  position: absolute;
  /*margin-left: 200px;*/
  margin-top: 12px;
}
.prod-spec-first-div .prod-spec-container-div span,
.prod-spec-first-div .prod-spec-container-div h3,
.prod-spec-first-div .prod-spec-container-div h5,
.prod-spec-first-div .prod-spec-container-div a {
  text-align: right;
}
.prod-spec-first-div .prod-spec-container-div .prod-spe-plus {
  font-size: 20px;
}
.grid-container .prod-spec-first-div {
  /*float: left;
    padding: 0;
    margin: 0;
    height: 100%;*/
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
}
/* Header  */
.header-container3 .header-top-container {
  background-color: #fffcf4 !important;
}
.header-container3 .header-primary-container {
  background-color: #fffcf4 !important;
}
/* Content top iconos */
.std .container-top-homepage {
  width: 100%;
  text-align: center;
}
.std .container-top-homepage .title-icons-content-top {
  font-size: 14.4px;
  font-weight: 700;
  display: inline-block;
  line-height: 16px;
  text-transform: uppercase;
  color: #5c5c5c;
  margin-bottom: 18px;
  width: 100px;
}
.std .container-top-homepage .grid12-3 {
  margin: 0;
  text-align: center;
  width: 200px;
  margin-left: 40px;
  padding: 0;
}
.std .container-top-homepage .grid12-3 div {
  margin: 0;
}
/* Slider text */
.slide .light1 {
  font-size: 30px;
}
/* Footer */
.footer-container3 .footer-bottom-container {
  background-color: #fffcf4 !important;
}
.footer-container3 .footer-bottom-container .item-center {
  text-align: center;
}
.footer-container3 .footer-secondary-container {
  background-color: #454545;
}
.footer-container3 .image-footer-primary {
  margin-top: -30px;
  margin-bottom: -10px;
  position: relative;
  text-align: center;
  float: left;
  height: 250px;
  width: 100%;
}
.footer-container3 .footer-primary-text-inside {
  color: #fff;
  font-size: 31px;
  font-weight: 300;
  line-height: 35px;
}
.footer-container3 .container-text-footer-prim {
  position: absolute;
  width: 70%;
  margin-left: 16%;
}
.footer-container3 .contenedor-segundo-footer {
  color: #fff;
}
.footer-container3 .contenedor-segundo-footer a {
  color: #fff;
}
.footer-container3 .contenedor-segundo-footer .grid12-12 {
  margin-top: 20px;
}
/* Novedades hombre y mujer */
.women-men-container .title-wom-men {
  line-height: 100px;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5c5c5c;
}
.women-men-container .women-offer {
  border: 1px solid #ddbd96;
  text-align: center;
  height: 371px;
  width: 255px;
}
.women-men-container .women-offer .wom-text {
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
  width: 130px;
  margin: 50% auto 0;
}
.women-men-container .women-offer .wom-view_more {
  width: 130px;
  border-top: 1px solid #977f5e;
  margin: 15px auto;
  padding-top: 10px;
}
.women-men-container .women-offer .wom-view_more a {
  font-size: 13px;
  font-weight: 700;
  color: #977f5e;
  text-transform: uppercase;
}
.women-men-container .women-offer .wom-view_more a:hover {
  text-decoration: underline;
}
.women-men-container .men-offer {
  border: 1px solid #ddbd96;
  text-align: center;
  height: 371px;
  width: 255px;
}
.women-men-container .men-offer .wom-text {
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
  width: 130px;
  margin: 50% auto 0;
}
.women-men-container .men-offer .wom-view_more {
  width: 130px;
  border-top: 1px solid #977f5e;
  margin: 15px auto;
  padding-top: 10px;
}
.women-men-container .men-offer .wom-view_more a {
  font-size: 13px;
  font-weight: 700;
  color: #977f5e;
  text-transform: uppercase;
}
.women-men-container .men-offer .wom-view_more a:hover {
  text-decoration: underline;
}
