/* Special products homepage */
.prod-spec-first-div {
  position: relative;
}
.prod-spec-first-div .prod-spe-price {
  text-decoration: line-through;
}
.prod-spec-first-div .prod-spec-container-div {
  position: absolute;
  /*margin-left: 200px;*/
  margin-top: 12px;
}
.prod-spec-first-div .prod-spec-container-div span,
.prod-spec-first-div .prod-spec-container-div h3,
.prod-spec-first-div .prod-spec-container-div h5,
.prod-spec-first-div .prod-spec-container-div a {
  text-align: right;
}
.prod-spec-first-div .prod-spec-container-div .prod-spe-plus {
  font-size: 20px;
}
.grid-container .prod-spec-first-div {
  /*float: left;
    padding: 0;
    margin: 0;
    height: 100%;*/
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
}
/* Header  */
.header-container3 .header-top-container {
  background-color: #fffcf4 !important;
}
.header-container3 .header-primary-container {
  background-color: #fffcf4 !important;
}
/* Content top iconos */
.std .container-top-homepage {
  width: 100%;
  text-align: center;
}
.std .container-top-homepage .title-icons-content-top {
  font-size: 14.4px;
  font-weight: 700;
  display: inline-block;
  line-height: 16px;
  text-transform: uppercase;
  color: #5c5c5c;
  margin-bottom: 18px;
  width: 100px;
}
.std .container-top-homepage .grid12-3 {
  margin: 0;
  text-align: center;
  width: 200px;
  margin-left: 40px;
  padding: 0;
}
.std .container-top-homepage .grid12-3 div {
  margin: 0;
}
/* Slider text */
.slide .light1 {
  font-size: 30px;
}
