<?xml version="1.0"?>
<config>
    <modules>
        <IMEI_Mymodule>
            <version>0.2.0</version>
        </IMEI_Mymodule>
    </modules>
    <frontend>
        <routers>
            <mymodule>
                <use>standard</use>
                <args>
                    <module>IMEI_Mymodule</module>
                    <frontName>mymodule</frontName>
                </args>
            </mymodule>
        </routers>
        <layout>
            <updates>
                <mymodule>
                    <file>mymodule.xml</file>
                </mymodule>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mymodule before="Mage_Adminhtml">IMEI_Mymodule_Adminhtml</mymodule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mymodule>
                    <file>mymodule.xml</file>
                </mymodule>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <mymodule>
                <class>IMEI_Mymodule_Helper</class>
            </mymodule>
        </helpers>
        <blocks>
            <mymodule>
                <class>IMEI_Mymodule_Block</class>
            </mymodule>
        </blocks>
        <models>
            <mymodule>
                <class>IMEI_Mymodule_Model</class>
                <resourceModel>mymodule_resource</resourceModel>
            </mymodule>
            <mymodule_resource>
                <class>IMEI_Mymodule_Model_Resource</class>
                <entities>
                    <imei>
                        <table>imei</table>
                    </imei>
                </entities>
            </mymodule_resource>
        </models>
        <resources>
            <mymodule_setup>
                <setup>
                    <module>IMEI_Mymodule</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mymodule_setup>
        </resources>
    </global>
</config>